@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300..700&display=swap');


body{
    background-color: #181C14;
}

.titulop{
    text-align: center;
    font-size: 70px;
    color: #ffffff;
    margin-top: 100px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;   
}

.subtitulo{
    text-align: center;
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-family:"Quicksand", sans-serif;
    font-weight: 400;
    margin-top:  -60px;
}

.imagens{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5px;
}

.imagens img{
    margin: 5px;
    width: 250px;
    height: 200px;
    border-radius:  10px;
}

.imagens img:hover{
   transform: scale(1.5);
}
